body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-image: url("https://i.pinimg.com/originals/8f/4e/8a/8f4e8a77b57c243fa020207909ef377a.png");
background-size: cover ;
}

h1 {
  page-break-before: always;
  color: white
}
header {
  padding: 80px;
  text-align: center;
  background: #f18071;
  color: white;
}
.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/8f/4e/8a/8f4e8a77b57c243fa020207909ef377a.png");
}
.data_table h1{
  color:black;
}
.data_table {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/8f/4e/8a/8f4e8a77b57c243fa020207909ef377a.png");
  padding: 30px;
  width: 500px;
}
.data_table dt, .data_table dd {
  margin: 0;
  margin-bottom: 2px;
  display: inline;
}
.data_table dt {
  padding-right: 8px;
  color:#f18071;
}
.data_table dd:after {
  content: '';
  display: block;
}
@media (max-width: 600px){
  .data_table {
      text-align: center;
  }
}

header.h1 {
font-size:20px;

}
header.h2 {
  font-size:10px
}
h4 {
  color: rgb(0, 0, 0);
}

a.alink:active{
  background-color:rgba(243, 184, 184, 0.527) ;
}
a.unlink:link{
  color:rgb(0, 0, 0);
}
a.vislink{
color:rosybrown;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: white;
  background-image: url("https://i.pinimg.com/originals/8f/4e/8a/8f4e8a77b57c243fa020207909ef377a.png");
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #f18071;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
  border-collapse: collapse;
  border-style: solid;
  border-width: medium;
  width: 50%;
  border: 1px solid rgb(196, 191, 191);
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;}

table tr:hover {
  background-color: rgba(243, 184, 184, 0.527);}

table tr {
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: initial;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
table td{
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: initial;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
table th {
  border-collapse: collapse;
  border: 1px;
  border-style: solid;
  border-color: #ddd;
  border-spacing: initial;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  background-color: #f18071;
  color:white;
}

table th.sort{
  cursor: pointer;
}

p.firstpar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style:initial;
  text-transform:capitalize;
  text-align: center;
  widows: 5;
  }
p.secondpar{
  font:caption Arial;
  font-size: 15px;
  font-weight: normal;
  text-align:center;
  font-variant: small-caps;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
footer {
  page-break-after: always;
  bottom: 0;
  width: 100%;
  height: 10mm;
  color: rgb(139, 136, 136);
  text-align: center;
  background-color:rgb(252, 216, 228);
  background-repeat: repeat-x;
  orphans: 1;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 75px;
}

form{
  margin-top: 0px;
  text-indent:30px;
  }
ul.allergy{
  list-style-type: square;
  list-style-position: outside;
  }
ul.secondli{
  text-align:center;
  list-style-position: inside;
  list-style-image:url("https://i0.wp.com/guitarandlace.com/wp-content/uploads/2020/09/10-8.png?ssl=1&resize=10%2C10");
  vertical-align:baseline;
  }
ul.thirdli{
  text-align: center;
  list-style: lower-roman inside;
}
ol.li{
  list-style-position: outside;
}
#bestsellers{
  caption-side:top;
  font-weight: bold;
}

input:focus{
  background-color:#da716325;
}
article{
  text-align: center;
}

#buttons{
  text-align: center;
}
